# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# Physical interface
auto eth0
iface eth0 inet static
    address {{ ip_settings[inventory_hostname]["mgmt"]["ip"] }}
    netmask 255.255.255.0
    pre-up ifconfig br-mgmt down || true
    pre-up brctl delbr br-mgmt || true

# external interface
{% set intf_external = compu_sys_mappings["external"]["interface"] %}
{% if compu_sys_mappings["external"]["vlan_tag"] | int %}
{% set intf_external = intf_external + '.' + compu_sys_mappings["external"]["vlan_tag"]|string %}
{% endif %}
auto {{ intf_external }}
iface {{ intf_external }} inet static
{% if compu_sys_mappings["external"]["vlan_tag"] | int %}
    vlan-raw-device {{ intf_external }}
{% endif %}
    address {{ ip_settings[inventory_hostname]["external"]["ip"] }}
    netmask 255.255.255.0
    gateway {{ ip_settings[inventory_hostname]["external"]["gw"] }}
    pre-up ip link del br-vlan-veth || true
    pre-up ifconfig br-external down || true
    pre-up brctl delbr br-external || true

# tenant interface
{% set intf_tenant = compu_sys_mappings["tenant"]["interface"] %}
{% if compu_sys_mappings["tenant"]["vlan_tag"] | int %}
{% set intf_tenant = intf_tenant + '.' + compu_sys_mappings["tenant"]["vlan_tag"]|string %}
{% endif %}
auto {{ intf_tenant }}
iface {{ intf_tenant }} inet static
{% if compu_sys_mappings["tenant"]["vlan_tag"] | int %}
    vlan-raw-device {{ intf_tenant }}
{% endif %}
    address {{ ip_settings[inventory_hostname]["tenant"]["ip"] }}
    netmask 255.255.255.0
    pre-up ifconfig br-tenant down || true
    pre-up brctl delbr br-tenant || true

# storage interface
{% set intf_storage = compu_sys_mappings["storage"]["interface"] %}
{% if compu_sys_mappings["storage"]["vlan_tag"] | int %}
{% set intf_storage = intf_storage + '.' + compu_sys_mappings["storage"]["vlan_tag"]|string %}
{% endif %}
auto {{ intf_storage }}
iface {{ intf_storage }} inet static
{% if compu_sys_mappings["storage"]["vlan_tag"] | int %}
    vlan-raw-device {{ intf_storage }}
{% endif %}
    address {{ ip_settings[inventory_hostname]["storage"]["ip"] }}
    netmask 255.255.255.0
    pre-up ifconfig br-storage down || true
    pre-up brctl delbr br-storage || true

