DEVICE={{compu_sys_mappings["storage"]["interface"]}}.{{compu_sys_mappings["storage"]["vlan_tag"]}}
BOOTPROTO=none
ONBOOT=yes
VLAN=yes
IPADDR={{ ip_settings[inventory_hostname]["storage"]["ip"] }}
NETMASK=255.255.255.0
DEFROUTE="no"
