#set cluster_name = $getVar('name', '')
[defaults]
log_path = /var/ansible/run/openstack_pike-$cluster_name/ansible.log
host_key_checking = False
callback_whitelist = playbook_done, status_callback
callback_plugins = /opt/ansible_callbacks
forks=100

[ssh_connection]
pipelining=True
retries = 5
control_path_dir=/dev/shm/ansible_control_path
