---
- name: nova db sync
  command: su -s /bin/sh -c "nova-manage db sync" nova
  register: result
  until: result.rc == 0
  run_once: True
  retries: 5
  delay: 3
  notify:
    - restart nova service

- meta: flush_handlers
