---
#- hosts: database
#  sudo: yes
#  tasks:
- name: "temporary disable supervisor database"
#  sudo: True
  template:
#        src: "templates/override.j2"
    src: "../../templates/install/override.j2"
    dest: "/etc/init/supervisor-database.override"

- name: "install contrail openstack database package"
#  sudo: True
#      apt:
#        name: "contrail-openstack-database"
  action: "{{ ansible_pkg_mgr }} name={{ item }} state=present force=yes"
  with_items: database_package 
