# #############################################################################
# Copyright (c) 2017 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
# #############################################################################
---
- hosts: all
  remote_user: root
  roles:
    - pre-openstack

- hosts: controller
  remote_user: root
  roles:
    - config-controller

- hosts: compute
  remote_user: root
  roles:
    - config-compute
    - storage
    - rt_kvm

- hosts: all
  remote_user: root
  roles:
    - sfc-pre

- hosts: localhost
  remote_user: root
  roles:
    - sfc-pre-2
    - config-osa
    - setup-host
    - setup-infrastructure
    - setup-openstack
    - sync-inventory
    - setup-openvswitch
    - setup-sfc
    - setup-opendaylight
    - post-openstack
