---
- hosts: all
  remote_user: root
  pre_tasks:
    - name: make sure ssh dir exist
      file:
        path: '{{ item.path }}'
        owner: '{{ item.owner }}'
        group: '{{ item.group }}'
        state: directory
        mode: 0755
      with_items:
        - path: /root/.ssh
          owner: root
          group: root

    - name: write ssh config
      copy:
        content: "UserKnownHostsFile /dev/null\nStrictHostKeyChecking no"
        dest: '{{ item.dest }}'
        owner: '{{ item.owner }}'
        group: '{{ item.group }}'
        mode: 0600
      with_items:
        - dest: /root/.ssh/config
          owner: root
          group: root

    - name: generate ssh keys
      shell: if [ ! -f ~/.ssh/id_rsa.pub ]; \
             then ssh-keygen -q -t rsa -f ~/.ssh/id_rsa -N ""; \
             else echo "already gen ssh key!"; fi;

    - name: fetch ssh keys
      fetch:
        src: /root/.ssh/id_rsa.pub
        dest: /tmp/ssh-keys-{{ ansible_hostname }}
        flat: "yes"

    - authorized_key:
        user: root
        key: "{{ lookup('file', item) }}"
      with_fileglob:
        - /tmp/ssh-keys-*
  max_fail_percentage: 0
  roles:
    - common

- hosts: all
  remote_user: root
  max_fail_percentage: 0
  roles:
    - setup-network

- hosts: localhost
  remote_user: root
  max_fail_percentage: 0
  roles:
    - kargo

