---
- hosts: all
  remote_user: root
  roles:
    - common
    - setup-network

- hosts: ha
  remote_user: root
  roles:
    - ha

- hosts: controller
  remote_user: root
  roles:
    - memcached
    - database
    - mq
    - keystone
    - nova-controller
    - neutron-controller
    - cinder-controller
    - glance
    - neutron-common
    - neutron-network
    - ceilometer_controller
#    - ext-network
    - dashboard
    - heat

- hosts: compute
  remote_user: root
  roles:
    - nova-compute
    - neutron-compute
    - cinder-volume
    - ceilometer_compute

- hosts: all
  remote_user: root
  roles:
    - odl_cluster

- hosts: all
  remote_user: root
  roles:
    - onos_cluster

#- hosts: all
#  remote_user: root
#  sudo: True
#  roles:
#    - open-contrail

- hosts: controller
  remote_user: root
  roles:
    - ext-network

- hosts: ceph_adm
  remote_user: root
  roles:
    - ceph-deploy

- hosts: all
  remote_user: root
  roles:
    - monitor

- hosts: all
  remote_user: root
  roles:
    - secgroup
