---
clouds:
  opnfv:
    region_name: RegionOne
    auth:
      username: 'admin'
      password: {{ ADMIN_PASS }}
      project_name: 'admin'
      auth_url: 'http://{{ internal_ip }}:35357/v3'
      project_domain_name: default
      user_domain_name: default
    identity_api_version: 3
