# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# Physical interface
auto eth0
iface eth0 inet manual

# OpenStack Networking VXLAN (tunnel/overlay) VLAN interface
auto {{sys_intf_mappings["mgmt"]["interface"]}}.{{sys_intf_mappings["mgmt"]["vlan_tag"]}}
iface {{sys_intf_mappings["mgmt"]["interface"]}}.{{sys_intf_mappings["mgmt"]["vlan_tag"]}} inet manual
    vlan-raw-device {{sys_intf_mappings["mgmt"]["interface"]}}

# Storage network VLAN interface (optional)
auto {{sys_intf_mappings["storage"]["interface"]}}.{{sys_intf_mappings["storage"]["vlan_tag"]}}
iface {{sys_intf_mappings["storage"]["interface"]}}.{{sys_intf_mappings["storage"]["vlan_tag"]}} inet manual
    vlan-raw-device {{sys_intf_mappings["storage"]["interface"]}}

# Container/Host management bridge
auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports eth0
    address {{host_info[inventory_hostname].MGMT_IP}}
    netmask 255.255.255.0

# OpenStack Networking VXLAN (tunnel/overlay) bridge
#
# Only the COMPUTE and NETWORK nodes must have an IP address
# on this bridge. When used by infrastructure nodes, the
# IP addresses are assigned to containers which use this
# bridge.
#
auto br-vxlan
iface br-vxlan inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{sys_intf_mappings["mgmt"]["interface"]}}.{{sys_intf_mappings["mgmt"]["vlan_tag"]}}

# OpenStack Networking VLAN bridge
auto br-vlan
iface br-vlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ network_cfg["provider_net_mappings"][0]["interface"] }}
    address {{ ip_settings[inventory_hostname]["br-prv"]["ip"] }}
    netmask 255.255.255.0
    gateway {{ ip_settings[inventory_hostname]["br-prv"]["gw"] }}

# compute1 Storage bridge
auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{sys_intf_mappings["storage"]["interface"]}}.{{sys_intf_mappings["storage"]["vlan_tag"]}}
    address {{ ip_settings[inventory_hostname]["storage"]["ip"] }}
    netmask 255.255.252.0
