#contrail-marker-start

listen contrail-stats
	bind *:5937
	mode http
	stats enable
	stats uri /
	stats auth haproxy:contrail123

listen neutron-server
	bind *:9696
	balance roundrobin
	option nolinger
{% for cur_host in groups['config'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9697 check inter 2000 rise 2 fall 3
{% endfor %}

listen contrail-api
	bind *:8082
	balance roundrobin
	option nolinger
	timeout client 3m
	timeout server 3m
{% for cur_host in groups['config'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9100 check inter 2000 rise 2 fall 3
{% endfor %}

listen contrail-discovery
	bind *:5998
	balance roundrobin
	option nolinger
{% for cur_host in groups['config'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9110 check inter 2000 rise 2 fall 3
{% endfor %}

listen contrail-analytics-api
	bind *:8081
	balance roundrobin
	option nolinger
	option tcp-check
	tcp-check connect port 6379
	default-server error-limit 1 on-error mark-down
{% for cur_host in groups['collector'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:9081 check inter 2000 rise 2 fall 3
{% endfor %}

{% if contrail_tor_agents is defined %}listen contrail-tor-agent
	bind {% for cur_agent in contrail_tor_agents %}*:{{ cur_agent['ovs_port'] }}{% if not loop.last %},{% endif %}{% endfor %}

	mode tcp
	balance leastconn
	option tcplog
	option tcpka
{% for cur_host in groups['tsn'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }} check inter 2000
{% endfor %}{% endif %}

listen rabbitmq
	bind *:5673
	mode tcp
	balance roundrobin
	maxconn 10000
	option tcplog
	option tcpka
	option redispatch
	timeout client 48h
	timeout server 48h
{% for cur_host in groups['config'] %}	server {{ hostvars[cur_host]['contrail_address'] }} {{ hostvars[cur_host]['contrail_address'] }}:5672 check inter 2000 rise 2 fall 3 weight 1 maxconn 500
{% endfor %}

#contrail-marker-end
