DEVICE={{ intf_sriov }}
BOOTPROTO=none
ONBOOT=yes
IPADDR={{ ip_settings[inventory_hostname]["sriov"]["ip"] }}
NETMASK=255.255.255.0
DEFROUTE="no"
{% if sys_intf_mappings["sriov"]["vlan_tag"] | int %}
{% set intf_vlan = "yes" %}
{% else %}
{% set intf_vlan = "no" %}
{% endif %}
VLAN={{ intf_vlan }}
