[DEFAULT]
verbose = True
rpc_backend = rabbit
auth_strategy = keystone

[publisher]
metering_secret = {{ metering_secret }}

[keystone_authtoken]
auth_uri = http://{{ internal_vip.ip }}:5000
auth_url = http://{{ internal_vip.ip }}:35357
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = ceilometer
password = {{ CEILOMETER_PASS }}

auth_plugin = password
project_domain_id = default
user_domain_id = default

[oslo_messaging_rabbit]
rabbit_host = {{ rabbit_host }}
rabbit_userid = {{ RABBIT_USER }}
rabbit_password = {{ RABBIT_PASS }}

[service_credentials]
auth_url = http://{{ internal_vip.ip }}:5000
project_domain_id = default
user_domain_id = default
auth_type = password
username = ceilometer
project_name = service
password = {{ CEILOMETER_PASS }}
interface = internalURL
region_name = RegionOne

