alabaster==0.7.9
alembic==0.8.10
amqp==1.4.9
ansible==2.3.2.0
anyjson==0.3.3
aodh==4.0.1.dev5
aodhclient==0.8.0
appdirs==1.4.3
argparse==1.4.0
automaton==1.7.0
babel==2.3.4
beautifulsoup4==4.5.3
boto==2.45.0
cachetools==2.0.0
cassandra_driver==3.7.1
castellan==0.5.0
ceilometer==8.0.2.dev15
ceilometermiddleware==1.0.2
cffi==1.9.1
cinder==10.0.2.dev24
cliff==2.4.0
cmd2==0.6.9
configobj==5.0.6
contextlib2==0.5.4
cotyledon==1.6.8
crc16==0.1.1
croniter==0.3.14
cryptography==1.7.1
cursive==0.1.1
cython==0.26
datrie==0.7.1
debtcollector==1.11.0
decorator==4.0.11
designate_dashboard==4.0.1.dev3
django==1.8.17
django_appconf==1.0.2
django_babel==0.5.1
django_compressor==2.1
django_openstack_auth==3.1.1
django_pyscss==2.0.2
dnspython==1.15.0
docutils==0.12
dogpile.cache==0.6.2
dragonflow==3.0.1.dev41
ecdsa==0.13
enum34==1.1.6
eventlet==0.19.0
extras==1.0.0
fasteners==0.14.1
felix==1.4.4
fixtures==3.0.0
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.5
futurist==0.21.0
gevent==1.2.1
glance==14.0.1.dev5
glance_store==0.20.0
gnocchi==3.1.4
gnocchiclient==3.0.0
google_api_python_client==1.6.1
greenlet==0.4.11
heat==8.0.2.dev4
heat_translator==0.7.0
horizon==11.0.2.dev21
httplib2==0.18.0
idna==2.2
ijson==2.3
ipaddress==1.0.18
ironic_ui==2.2.1.dev6
iso8601==0.1.11
jinja2==2.8.1
jmespath==0.9.0
jsonpatch==1.15
jsonpath_rw==1.4.0
jsonpath_rw_ext==1.0.0
jsonpointer==1.10
jsonschema==2.5.1
junitxml==0.7
kafka_python==1.3.2
kazoo==2.2.1
keystone==11.0.1
keystoneauth1==2.18.0
keystonemiddleware==4.14.0
kombu==3.0.37
ldappool==2.0.0
libvirt_python==2.5.0
linecache2==1.0.0
logutils==0.3.3
lxc_python2==0.1
lxml==3.7.2
lz4==0.8.2
magnum_ui==2.2.1.dev4
mako==1.0.6
markupsafe==0.23
microversion_parse==0.1.4
monotonic==1.2
msgpack_python==0.4.8
munch==2.2.0
murano_pkg_check==0.3.0
mysql_python==1.2.5
ndg_httpsclient==0.4.2
netaddr==0.7.19
netifaces==0.10.5
networking_calico==1.3.2.dev3
networking_sfc==4.0.0
networkx==1.11
neutron==10.0.2.dev45
neutron_dynamic_routing==10.0.1.dev8
neutron_fwaas==10.0.2.dev3
neutron_lbaas==10.0.1
neutron_lbaas_dashboard==2.0.1.dev7
neutron_lib==1.1.0
neutron_vpnaas==10.0.1.dev5
nose==1.3.7
nova==15.0.4
nova_lxd==15.0.1
nova_powervm==4.0.1.dev9
numpy==1.12.0
oauth2client==3.0.0
oauthlib==2.0.1
openstacksdk==0.9.13
os_brick==1.11.0
osc_lib==1.3.0
os_client_config==1.26.0
os_faults==0.1.9
oslo.cache==1.17.0
oslo.concurrency==3.18.0
oslo.config==3.22.0
oslo.context==2.12.1
oslo.db==4.17.0
oslo.i18n==3.12.0
oslo.log==3.20.1
oslo.messaging==5.17.1
oslo.middleware==3.23.1
oslo.policy==1.18.0
oslo.privsep==1.16.0
oslo.reports==1.17.0
oslo.rootwrap==5.4.0
oslo.serialization==2.16.0
oslo.service==1.19.0
oslosphinx==4.10.0
oslo.utils==3.22.0
oslo.versionedobjects==1.21.0
oslo.vmware==2.17.0
osprofiler==1.5.0
os_testr==0.8.0
os_vif==1.4.0
os_win==1.4.1
os_xenapi==0.1.1
ovs==2.6.1
pandas==0.20.3
paramiko==2.1.1
passlib==1.7.0
paste==2.0.3
pastedeploy==1.5.2
pathlib==1.0.1
pbr==1.10.0
pecan==1.2.1
pika==0.10.0
pika_pool==0.1.3
pint==0.7.2
pip==9.0.1
ply==3.9
positional==1.1.1
posix_spawn==0.2.post7
prettytable==0.7.2
prometheus_client==0.0.20
psutil==5.0.1
pyasn1==0.1.9
pyasn1_modules==0.0.8
pycadf==2.5.0
pycparser==2.17
pycrypto==2.6.1
pyghmi==1.0.16
pygments==2.2.0
pyinotify==0.9.6
pyldap==2.4.28
pylxd==2.2.2
pymongo==3.4.0
pymysql==0.7.9
pyopenssl==16.2.0
pyparsing==2.1.10
pypowervm==1.0.0.4
pyroute2==0.4.12
pysaml2==4.0.2
pyscss==1.3.4
pysmi==0.0.7
pysnmp==4.3.2
python_barbicanclient==4.2.0
python_ceilometerclient==2.8.1
python_cinderclient==1.11.0
python_dateutil==2.6.0
python_designateclient==2.6.0
python_editor==1.0.3
python_etcd==0.4.4
python_glanceclient==2.6.0
python_heatclient==1.8.0
python_ironicclient==1.11.1
python_keystoneclient==3.10.0
python_ldap==2.4.41
python_magnumclient==2.5.0
python_manilaclient==1.14.0
python_memcached==1.58
python_mimeparse==1.6.0
python_mistralclient==3.0.0
python_monascaclient==1.5.0
python_muranoclient==0.12.0
python_neutronclient==6.1.0
python_novaclient==7.1.0
python_openstackclient==3.8.1
python_saharaclient==1.1.0
python_senlinclient==1.2.0
python_subunit==1.2.0
python_swiftclient==3.3.0
python_tackerclient==0.9.0
python_troveclient==2.8.0
python_watcherclient==1.0.0
python_zaqarclient==1.4.0
pytz==2016.10
pyudev==0.21.0
pyyaml==3.12
pyzmq==16.0.2
rally==0.8.2.dev10
rcssmin==1.0.6
repoze.lru==0.6
repoze.who==2.3
requests==2.12.5
requestsexceptions==1.1.3
requests_unixsocket==0.1.5
retrying==1.3.3
rfc3986==0.4.1
rjsmin==1.0.12
routes==2.4.1
rsa==3.4.2
rtslib_fb==2.1.62
ryu==4.10
sahara_dashboard==6.0.1.dev7
scipy==0.18.1
semantic_version==2.6.0
setproctitle==1.1.10
setuptools==33.1.1
shade==1.22.2
simplegeneric==0.8.1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sphinx==1.3.6
sphinx_rtd_theme==0.1.9
sqlalchemy==1.0.17
sqlalchemy_migrate==0.10.0
sqlalchemy_utils==0.32.12
sqlparse==0.2.2
statsd==3.2.1
stevedore==1.20.0
suds_jurko==0.6
tacker==0.7.1.dev7
taskflow==2.9.0
tempest==14.0.1.dev142
tempita==0.5.2
tenacity==3.7.1
testrepository==0.0.20
testtools==2.2.0
tinyrpc==0.5
tooz==1.48.0
tosca_parser==0.7.0
traceback2==1.4.0
trollius==2.1
trove_dashboard==8.0.1.dev1
ujson==1.35
unicodecsv==0.14.1
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.20
uwsgi==2.0.15
virtualenv==15.1.0
virtualenv_tools==1.0
voluptuous==0.9.3
waitress==1.0.1
warlock==1.2.0
weakrefmethod==1.0.3
webob==1.6.3
websockify==0.8.0
webtest==2.0.24
werkzeug==0.11.15
wheel==0.29.0
wrapt==1.10.8
ws4py==0.3.4
wsme==0.9.1
xstatic==1.0.1
xstatic_angular==1.5.8.0
xstatic_angular_bootstrap==2.2.0.0
xstatic_angular_fileupload==12.0.4.0
xstatic_angular_gettext==2.3.8.0
xstatic_angular_lrdragndrop==1.0.2.2
xstatic_angular_schema_form==0.8.13.0
xstatic_bootstrap_datepicker==1.3.1.0
xstatic_bootstrap_scss==3.3.7.1
xstatic_bootswatch==3.3.7.0
xstatic_d3==3.5.17.0
xstatic_font_awesome==4.7.0.0
xstatic_hogan==2.0.0.2
xstatic_jasmine==2.4.1.1
xstatic_jquery==1.10.2.1
xstatic_jquery_migrate==1.2.1.1
xstatic_jquery.quicksearch==2.0.3.1
xstatic_jquery.tablesorter==2.14.5.1
xstatic_jquery_ui==1.12.0.1
xstatic_jsencrypt==2.3.1.1
xstatic_mdi==1.4.57.0
xstatic_objectpath==1.2.1.0
xstatic_rickshaw==1.5.0.0
xstatic_roboto_fontface==0.5.0.0
xstatic_smart_table==1.4.13.2
xstatic_spin==1.2.5.2
xstatic_term.js==0.0.7.0
xstatic_tv4==1.2.7.0
yaql==1.1.3
zope.interface==4.3.3
