---

- name: run opendaylight role
  hosts: neutron_all | galera_container | network_hosts | repo_container
  max_fail_percentage: 20
  user: root
  roles:
    - odl_cluster
  vars:
    - odl_l3_agent: "{{ odl_l3_agent }}"
  tags:
    - odl
