{% set memcached_servers = [] %}
{% for host in haproxy_hosts.values() %}
{% set _ = memcached_servers.append('%s:11211'% host) %}
{% endfor %}
{% set memcached_servers = memcached_servers|join(',') %}

[DEFAULT]
transport_url = rabbit://{{ RABBIT_USER }}:{{ RABBIT_PASS }}@{{ rabbit_host }}
rpc_backend = rabbit

bind_host = {{ internal_ip }}
bind_port = 8042
auth_strategy = keystone
debug = True

[api]
host = {{ internal_ip }}

[database]
connection = mysql://aodh:{{ AODH_DBPASS }}@{{ db_host }}/aodh

[keystone_authtoken]
auth_uri = http://{{ internal_vip.ip }}:5000
auth_url = http://{{ internal_vip.ip }}:35357
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = aodh
password = {{ AODH_PASS }}

identity_uri = http://{{ internal_vip.ip }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
token_cache_time = 300
revocation_cache_time = 60

[oslo_messaging_rabbit]
rabbit_hosts = {{ internal_vip.ip }}
rabbit_userid = {{ RABBIT_USER }}
rabbit_password = {{ RABBIT_PASS }}

[service_credentials]
auth_type = password
auth_url = http://{{ internal_vip.ip }}:5000/v3
project_domain_name = default
user_domain_name = default
project_name = service
username = aodh
password = {{ AODH_PASS }}
interface = internalURL
region_name = RegionOne

endpoint_type = internalURL
