---
- include: heat_install.yml
  tags:
    - install
    - heat_install
    - heat

- include: heat_config.yml
  when: HA_CLUSTER is not defined or HA_CLUSTER[inventory_hostname] == ''
  tags:
    - config
    - heat_config
    - heat

- meta: flush_handlers
