##############################################################################
# Copyright (c) 2017 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
- name: clean local repo conf
  file:
    path: /etc/yum.repos.d
    state: absent
  run_once: "True"

- name: create local repo conf dir
  file:
    path: /etc/yum.repos.d
    state: directory
  run_once: "True"

- name: configure local mirror repo
  copy:
    src: mirrors.repo
    dest: /etc/yum.repos.d/mirrors.repo
  run_once: "True"

- name: clean local pip conf to use official pip repo
  file:
    path: /root/.pip/pip.conf
    state: absent
  run_once: "True"

- name: install dependency for ansible update
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - git
    - libffi-devel
    - openssl-devel
    - python-devel
  run_once: "True"

- name: update python packages
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
    - ansible
    - netaddr

- name: fetch kargo code
  shell: |
    rm -rf /opt/kargo_test
    git clone https://github.com/kubernetes-incubator/kargo /opt/kargo_test
  tags:
    - ansible

- name: copy inventories generate script
  copy:
    src: generate_inventories.py
    dest: /tmp/generate_inventories.py
  tags:
    - ansible

- name: generate kargo inventories
  shell: >
    python /tmp/generate_inventories.py \
           "/opt/kargo_test/inventory/inventory.cfg" \
           "{{ ip_settings | to_json }}"
  tags:
    - ansible

- name: configure target hosts
  shell: |
    cd /opt/kargo_test
    ansible -i inventory/inventory.cfg -m ping all
    ansible -i inventory/inventory.cfg all -m shell -a "rm /etc/yum.repos.d/*"
    ansible -i inventory/inventory.cfg all -m copy -a \
        "src=/etc/yum.repos.d/mirrors.repo dest=/etc/yum.repos.d"
  tags:
    - ansible

- name: run kargo playbook
  shell: |
    cd /opt/kargo_test
    ansible-playbook -i inventory/inventory.cfg cluster.yml -b -v 2>&1 | tee kargo.log
  tags:
    - ansible
