{% set memcached_servers = [] %}
{% for host in haproxy_hosts.values() %}
{% set _ = memcached_servers.append('%s:11211'% host) %}
{% endfor %}
{% set memcached_servers = memcached_servers|join(',') %}

[DEFAULT]
rpc_backend = rabbit
auth_strategy = keystone
verbose = True

[api]
host = {{ internal_ip }}

[database]
connection = mongodb://ceilometer:{{ CEILOMETER_DBPASS }}@{{ internal_vip.ip }}:27017/ceilometer

[keystone_authtoken]
auth_uri = http://{{ internal_vip.ip }}:5000
auth_url = http://{{ internal_vip.ip }}:35357
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = ceilometer
password = {{ CEILOMETER_PASS }}

identity_uri = http://{{ internal_vip.ip }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default

[oslo_messaging_rabbit]
rabbit_host = {{ rabbit_host }}
rabbit_userid = {{ RABBIT_USER }}
rabbit_password = {{ RABBIT_PASS }}

[publisher]
metering_secret = {{ metering_secret }}

[service_credentials]
auth_type = password
auth_url = http://{{ internal_vip.ip }}:5000/v3
project_domain_name = default
user_domain_name = default
project_name = service
username = ceilometer
password = {{ CEILOMETER_PASS }}
interface = internalURL
region_name = RegionOne

