[all]
{% for host, vales in hostvars.iteritems() %}
{{ host }} ansible_ssh_host={{ vales['ansible_ssh_host'] }} ansible_ssh_pass=root  ansible_user=root
{% endfor %}

[kube-master]
{% for host in hostvars[inventory_hostname]['groups']['kube_master'] %}
{{ host }}
{% endfor %}

[etcd]
{% for host in hostvars[inventory_hostname]['groups']['etcd'] %}
{{ host }}
{% endfor %}

[kube-node]
{% for host in hostvars[inventory_hostname]['groups']['kube_node'] %}
{{ host }}
{% endfor %}

[k8s-cluster:children]
kube-node
kube-master

[calico-rr]
[vault]
