# #############################################################################
# Copyright (c) 2017 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
# #############################################################################
---
- name: create osa log directory
  file:
    path: /var/log/osa/
    state: directory

- name: copy openstack_user_config
  template:
    src: openstack_user_config.yml.j2
    dest: /etc/openstack_deploy/openstack_user_config.yml

- name: copy user_variables
  template:
    src: user_variables.yml.j2
    dest: /etc/openstack_deploy/user_variables.yml

- name: check apt source
  shell: "ping -c 2 {{ LOCAL_REPOSITORY_IP }} > /dev/null"
  register: checkresult
  ignore_errors: "true"

- name: add mariadb local repository
  blockinfile:
    dest: /etc/openstack_deploy/user_variables.yml
    block: |
      galera_client_apt_repo_url: "http://192.168.137.222/mariadb"
      galera_repo_url: "[ arch=amd64 ] http://192.168.137.222/mariadb"
      uca_apt_repo_url: "[ arch=amd64 ] http://192.168.137.222/ubuntu-cloud"
  when: checkresult.rc == 0

- name: copy cinder.yml
  copy:
    src: cinder.yml
    dest: /etc/openstack_deploy/env.d/cinder.yml

- name: copy ansible.cfg
  template:
    src: ansible.cfg
    dest: /opt/openstack-ansible/playbooks/

- name: copy setup-ovs.yml
  copy:
    src: setup-ovs.yml
    dest: /opt/openstack-ansible/playbooks

- name: copy setup-odl.yml
  template:
    src: setup-odl.yml.j2
    dest: /opt/openstack-ansible/playbooks/setup-odl.yml

- name: copy odl_cluster role
  copy:
    src: /var/ansible/run/openstack_ocata-opnfv2/roles/odl_cluster
    dest: /etc/ansible/roles/

- name: copy flavor roles
  copy:
    src: os-flavor
    dest: /etc/ansible/roles/

- name: generate create-network.yml
  template:
    src: create-network.yml.j2
    dest: /opt/openstack-ansible/playbooks/create-network.yml

- name: generate create-flavor.yml
  template:
    src: create-flavor.yml.j2
    dest: /opt/openstack-ansible/playbooks/create-flavor.yml

- name: copy fetch-files.yml
  copy:
    src: fetch-files.yml
    dest: /opt/openstack-ansible/playbooks/fetch-files.yml
