##############################################################################
# Copyright (c) 2016 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
---
- name: setup hosts
  shell: "export ANSIBLE_LOG_PATH=/var/ansible/run/openstack_ocata-opnfv2/ansible.log; \
          cd /opt/openstack-ansible/playbooks; \
          openstack-ansible setup-hosts.yml -vvv \
             | tee -a /var/log/osa/host.log > /dev/null"

- name: read the ansible log file
  shell: cat /var/log/osa/host.log | tail -n 1000
  register: setup_host_result

- fail:
    msg: "there are some task failed when setup host."
  when: setup_host_result.stdout.find('failed=1') != -1

- fail:
    msg: "some host are unreachable."
  when: setup_host_result.stdout.find('unreachable=1') != -1
